@import "./variables";
@import "./mixins";

* {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

form {
    display: flex;
    flex-flow: wrap;
    margin: 10px 0;
}
strong {
    font-weight: 400;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    color: $dark-green;
}

ul,
li {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.price {
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-block;
}

div.wrap {
    padding: 2rem auto;

    @media (max-width: 600px) {
        padding: 2rem 1rem;
    }
}

.cover {
    color: $cream;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
}

.block {
    display: block;
}

/* CHECKOUT STYLES */

input {
    border: 1px solid $light-gray;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;

    @include border-box;
}

input.name {
    float: left;
    width: 48%;
}

input.name:first-child {
    margin-right: 15px;
}

input.input_small {
    float: left;
    width: 24%;
    margin-right: 10px;
}

.label__select-wrapper {
    border: 1px solid $light-gray;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    font-size: 0.15em;
    color: $dark-gray;
    width: 20%;
}

.label__select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px transparent solid;
    background: transparent;
}

.label__select-wrapper label {
    display: block;
}

.select__caret {
    /* this is the down arrow */
    float: right;
    width: 40px;
    top: 25%;
    right: 0;
}

.select__pymt-wrap {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px $light-gray solid;
    background: transparent;
    margin: 16px 0 24px 16px;
    padding: 10px;
    color: $dark-gray;
}

@media only screen and (max-width: 480px) {
    form {
        display: block;
    }

    .label__select-wrapper {
        display: block;
        width: 90%;
    }

    input.input_small {
        width: 90%;
    }
}
